
.store{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #F5F5F5;
    
}  

.section__name{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    
    
}




.section__title{
    
    font-family:var(--raleway);
    font-weight: 700;
    font-size: 2rem ;
    color: var(--dark-text);
    width: 70%;

}

.see-all{
    width: 10%;
    font-size: 1rem;
     font-family: var(--raleway);
    font-weight: 700;
    color: var(--blue-text);
    
}


.store__cards{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 16.5%;
}

.item__picture{
    width: 100%;
    margin-bottom: 0.5rem;
}

.item__name{
    font-size: 0.8rem;
    font-family: var(--raleway);
    font-weight: 500;
    color: var(--dark-text)

}

.item__price{
    font-size: 1rem;
    font-family: var(--raleway);
    font-weight: 700;
   

}

.item__button{
    color: var(--blue-text);
    font-size: 1rem;
    font-family: var(--raleway);
    font-weight: 700;
   
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .store__cards{
        width: 25%;
    }

    store:nth-child(5 + 1){
        display: none;

    }
    
}